@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* font-family: 'Dancing Script', cursive; */

.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

/* .welcome-container {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
} */

.footer {
  height: 3vw
}

.header {
  height: 1vw
}

.navbar {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.welcome-img {
  width: 40%;
}


.auth-footer {
  height: 8vw
}

.formContainer {
  padding: 2%;
  margin: 2%;
  border-style: double;
  border-radius: 45px;
  height: fit-content;
  border-color: purple;
}

.auth-form {
  text-align: -webkit-center;
  padding: 3%
}

.auth-submit-button {
  background-color: aliceblue;
  color: black;
  border-radius: 9px;
}


.form-input {
  border-radius: 9px;
}

.form-row {
  padding-top: 4%;
  margin-bottom: 32%;
}


.form-title, .remember-title, .breathe-title, .play-title {
  font-family: 'Satisfy', cursive;
}

.navbar-img {
  width: 4vw;
}

.navbar-content {
  font-size: 5vw;
  line-height: 4vw;
}

.navbar {
  justify-content: flex-start;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

#activity-select-title {
  font-size: 5vw
}

.routine-select-container {
  border-radius: 10px
}

.routine-select-title {
  margin-top: 1%
}

.routine-select-row {
  margin-bottom: 5%;
}

.routine-select-column {

}

.home-top-container {
  
}
.activity-card {
  font-size: 1.5vw;
  font-family: 'Satisfy', cursive;
  /* font-size: 45px; */
  width: 10vw;
  border-style: solid;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: purple;
  
}


.horizontal-bar {
  height: 10px;
  width: 100%;
  border-style: solid;
  background-color: white;
  border-color: purple;
  border-width: 1px;
}

.routine-row {
  width: 100%;
  justify-content: space-evenly;

}

.column-vertical-bar {
  width: 1px;
  background-color: white;
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-style: none;
  border-bottom-style: none;
  border-color: purple
}

.vertical-bar {
  width: 5px;
}
.routine-item {
  min-width:8vw;
  height: 5vw;
  font-family: 'Satisfy', cursive;
  border-style: solid;
  border-color: purple;
  border-width: 1px;
  background-color:  white;
  border-radius: 14px;
  margin: 4px;
  vertical-align: middle;
  justify-content: center;
  padding-top: 6px;
  font-size: 2vw }

.routine-item-column {
  justify-content: flex-end;
}

.routine-container {
  display: flex;
  height: 30vw
}

.inner-routine-container {
  max-height: 5vw;

}

.button-column {

}
.inner-routine-row {

}

.start-routine-button {
  border-radius: 39px;
  width: 24vw;
  height: 15vw;
  font-size: 4vw;
  margin-top: 6vw;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
}

.timer-seperator {
  height: 4vw;
}

.timer-button {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  border-radius: 15px;
  width: 8vw;
  height: 4vw;
  border-style: none
}

.routine-button {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  border-radius: 15px;
  width: 7vw;
  height: 9vw;
  border-style: none;
  color: white;
}