@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Indie Flower', cursive; */
 /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */

.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

/* .welcome-container {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
} */

.footer {
  height: 3vw
}

.header {
  height: 1vw
}

.navbar {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.welcome-img {
  width: 40%;
}


.auth-footer {
  height: 8vw
}

.formContainer {
  padding: 2%;
  margin: 2%;
  border-style: double;
  border-radius: 45px;
  height: fit-content;
  border-color:white;
}

.auth-form {
  text-align: -webkit-center;
  padding: 3%;
  color: white
}

.auth-submit-button.routine-button {
  height: 3vw;
  color: white;
  border-radius: 9px;
}



.form-input {
  border-radius: 15px;
  margin-bottom: 35px;
  margin-top: 20px;
}

.form-row {
  padding-top: 4%;
  margin-bottom: 32%;
}


.form-title, .remember-title, .breathe-title, .play-title {
  font-family: 'Satisfy', cursive;
  margin-top: 15px;
  color: white
}

.timer-row {
  justify-content: center;
}
.breathe-title.breathe-countdown {
  border-style: solid;
  font-size: 3.5vw;
  border-radius: 54px;
  min-width: 5vw;
  min-height: 5vw;
}

.navbar-img {
  width: 4vw;
}

.navbar-content {
  font-size: 5vw;
  line-height: 4vw;
}

.navbar {
  justify-content: flex-start;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

#activity-select-title {
  font-size: 5vw
}

.routine-select-container {
  border-radius: 10px;
  max-width: fit-content;
}

.routine-select-title {
  margin-top: 1%;
  color: white
}

.routine-select-row {
  margin-bottom: 5%;
}

.routine-select-column {

}

.home-top-container {
  
}
.activity-card {
    font-size: 1.5vw;
    font-family: 'Satisfy', cursive;
    color: white;
    /* font-size: 45px; */
    width: auto;
    min-width: 8.5vw;
    min-height: 8vw;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    border-radius: 7vw;
 
}

.activity-card-body {
  position: relative;
  top: 31px;
}


.horizontal-bar {
  height: 25px;
  width: 100%;
  /* border-style: solid; */
  background-color: white;
  /* border-color: purple; */
  /* border-width: 1px; */
}

.routine-row {
  width: 100%;
  justify-content: space-evenly;

}

.column-vertical-bar {
  width: 1px;
  background-color: white;
  /* border-style: solid; */
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-style: none;
  border-bottom-style: none;
  border-color: purple;
 
}

.vertical-bar {
  width: 5px;
}
.routine-item {
  min-width:fit-content;
  height: 5vw;
  font-family: 'Satisfy', cursive;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  color: white;

  border-radius: 14px;
  margin: 4px;
  vertical-align: middle;
  justify-content: center;
  padding-top: 6px;
  font-size: 3vw }

.routine-item-column {
  justify-content: flex-end;
}

.routine-container {
  display: flex;
  height: 30vw
}

.inner-routine-container {
  max-height: 5vw;

}

.button-column {

}
.inner-routine-row {

}

.start-routine-button {
  border-radius: 28vw;
  width: 20vw;
  min-height: 19.5vw;
  font-size: 4vw;
  margin-top: 6vw;
  border-style: solid;
  border-color: white;
  color: white;
  text-decoration: none;
}


.start-routine-button:link {
  text-decoration: none;
}

.start-routine-button:hover {
  color: white;
  text-decoration: none;
}

.start-routine-button:active {
  text-decoration: none;
}



.timer-seperator {
  height: 4vw;
}

.timer-button {
  border-radius: 15px;

  border-style: none
}

.routine-button.journal-delete-button {
  width: auto;
  height: 45px;

}

.journal-submit.routine-button {
  margin-bottom: 10px;
}

.routine-button {
  border-radius: 15px;
  width: 7vw;
  height: 7vw;
  border-style: none;
  color: white;
  border-style: solid;
  border-color: white;
  font-size: 1.5vw
}

.routine-button:visited {
  text-decoration: none;
  color: white;
  border-color:white
}

.routine-button:link {
  text-decoration: none;
}

.routine-button:hover {
  color: white;
  text-decoration: none;
}

.routine-button:active {
  text-decoration: none;
}
.news-image {
  max-width:300px;
  max-height:200px;
  width: auto;
  height: auto;
  border-radius: 20px
}

.learn-button {
  margin-top: 40px;
  height: 40px;
  width: 110px;
  border-radius: 11px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
  margin-top: 20px;
}

.news-footer {
  height: 20px;
  margin-top: 10px
}

.new-text {
  text-align: left;
}

.forecast-button {
  height: 3vw;
  width: 130px;
  border-radius: 11px;
  color: white;
  margin-top: 20px;
  border-style: solid;
  border-color: white;
  margin-left: 3vw
}

.forecast-input {
  height: 60px;
  width: 300px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 20px;
  border-color: white
}

.weather-icon {
  height: auto;
  width: auto;
  min-width: 8vw;
  border-style: solid;
  border-radius: 21px;

  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

strong.forecast-location {
  font-size: 3vw;
}

p.forecast {
  font-size: 2vw;
}

.instrument-select {
  height: 3vw;
  border-radius: 15px;
}

.journal-table-header-date {
  width: 12vw;
  color:white
}

.journal-delete {
  width: 10vw;
}

.journal-delete-button {
  border-radius: 50px;
}

.journal-content {
  font-family: 'Indie Flower', cursive;
  font-size: 1vw;
  color:white
}

.select-container {
  color: white
}

.journal-container {
  color: white
}

.journal-form {
  color: white
}

.journal-entry-table {
  color: white
}

.journal-date-entry {
  width: 10vw;
  border-radius: 40px
}

.journal-form-input {
  border-radius: 20px
}