.App {
  text-align: center;
}


.navbar {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.welcome-img {
  width: 50%;
}



